$FAMILY: 'Montserrat', sans-serif;

$REGULAR: 400;
$BOLD: 700;

$BLACK: #333;
$WHITE: #FFF;
$GREEN: #54E56A;

$CHAT_INCOMING_COLOR: #C4C3EA;
$CHAT_OUTGOING_COLOR: #9BEFD5;
$CHAT_GLOW_COLOR: #FFDB8B;

$SPEED: 0.25s;